<include file='Public/header' />

<body>
	<div class="place">
	    <span>位置：</span>
	    <ul class="placeul">
			<li>系统管理</li>
		    <li>管理员列表</li>
		    <li>新增管理员</li>
	    </ul>
   </div>
    <div class="formbody">
    	<div class="formtitle"><span>新增管理员</span></div>
	    <form action="{:U('add')}" method="post" class="layui-form">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">手机号</label>
					<div class="layui-input-inline"><input type="text" name="au_phone" lay-verify="phone" class="layui-input"></div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">登录密码</label>
					<div class="layui-input-inline"><input type="password" name="au_pwd" lay-verify="required" class="layui-input"></div>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">管理员姓名</label>
					<div class="layui-input-inline"><input type="text" name="au_name" lay-verify="required" class="layui-input"></div>
				</div>
			</div>
			<div class="layui-form-item">
	            <div class="layui-input-block">
	                <button class="layui-btn layui-btn-small layui-btn-normal" lay-submit  lay-filter="sub">确认保存</button>
	                <button class="layui-btn layui-btn-small layui-btn-primary" onclick="history.go(-1)">返回操作</button>
	            </div>
        	</div>
	    </form>
    </div>
</body>
</html>
<script>
layui.use('form', function(){
	var form = layui.form();
	form.on('submit(sub)', function(data){
        
    });
});
</script>