<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/layui/css/layui.css" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/admin/js/jquery.min.js" language="JavaScript" ></script>
	<script src="__PUBLIC__/layui/layui.js" language="JavaScript" ></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>